@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #181818;
  font-family: "Inter", sans-serif;
  color: #fafafa;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  @apply transform;
  @apply scale-75;
  @apply -translate-y-6;
}

input:focus ~ label {
  @apply text-black;
  @apply left-0;
}
